{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block content%}
<div class="container">
  <h2>로그관리상세보기</h2>
  <p>#Rsyslog, #모니터링</p>
  {{rsyslogs.id}}
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>번호</th>
        <th>필드</th>
        <th>값</th>
      </tr>
    </thead>
    <tr>
      <td>
        1
      </td>
      <td>
        id
      </td>
      <td>
        {{rsyslogs.id}}
      </td>
    </tr>

    <tr>
      <td>
        2
      </td>
      <td>
        CustomerID
      </td>
      <td>
        {{rsyslogs.CustomerID}}
      </td>
    </tr>
    <tr>
      <td>
        3
      </td>
      <td>
        ReceivedAt
      </td>
      <td>
        {{rsyslogs.ReceivedAt}}
      </td>
    </tr>


    <tr>
      <td>
        4
      </td>
      <td>
        DeviceReportedTime
      </td>
      <td>
        {{rsyslogs.DeviceReportedTime}}
      </td>
    </tr>




    <tr>
      <td>
        5
      </td>
      <td>
        Facility
      </td>
      <td>
        {{rsyslogs.Facility}}
      </td>
    </tr>




    <tr>
      <td>
        6
      </td>
      <td>
        Priority
      </td>
      <td>
        {{rsyslogs.Priority}}
      </td>
    </tr>





    <tr>
      <td>
        7
      </td>
      <td>
        FromHost
      </td>
      <td>
        {{rsyslogs.FromHost}}
      </td>
    </tr>





    <tr>
      <td>
        8
      </td>
      <td>
        Message
      </td>
      <td>
        {{rsyslogs.Message}}
      </td>
    </tr>




    <tr>
      <td>
        9
      </td>
      <td>
        NTSeverity
      </td>
      <td>
        {{rsyslogs.NTSeverity}}
      </td>
    </tr>



    <tr>
      <td>
        10
      </td>
      <td>
        Importance
      </td>
      <td>
        {{rsyslogs.Importance}}
      </td>
    </tr>



    <tr>
      <td>
        11
      </td>
      <td>
        DeviceReportedTime
      </td>
      <td>
        {{rsyslogs.DeviceReportedTime}}
      </td>
    </tr>


    <tr>
      <td>
        12
      </td>
      <td>
        EventSource
      </td>
      <td>
        {{rsyslogs.EventSource}}
      </td>
    </tr>



    <tr>
      <td>
        13
      </td>
      <td>
        EventUser
      </td>
      <td>
        {{rsyslogs.EventUser}}
      </td>
    </tr>




    <tr>
      <td>
        14
      </td>
      <td>
        EventCategory
      </td>
      <td>
        {{rsyslogs.EventCategory}}
      </td>
    </tr>


    <tr>
      <td>
        15
      </td>
      <td>
        DeviceReportedTime
      </td>
      <td>
        {{rsyslogs.DeviceReportedTime}}
      </td>
    </tr>



    <tr>
      <td>
        16
      </td>
      <td>
        EventID
      </td>
      <td>
        {{rsyslogs.EventID}}
      </td>
    </tr>




    <tr>
      <td>
        17
      </td>
      <td>
        EventBinaryData
      </td>
      <td>
        {{rsyslogs.EventBinaryData}}
      </td>
    </tr>




    <tr>
      <td>
        18
      </td>
      <td>
        MaxAvailable
      </td>
      <td>
        {{rsyslogs.MaxAvailable}}
      </td>
    </tr>




    <tr>
      <td>
        19
      </td>
      <td>
        CurrUsage
      </td>
      <td>
        {{rsyslogs.CurrUsage}}
      </td>
    </tr>

      <tr>
      <td>
        20
      </td>
      <td>
        MinUsage
      </td>
      <td>
        {{rsyslogs.MinUsage}}
      </td>
    </tr>

      <tr>
      <td>
        21
      </td>
      <td>
        InfoUnitID
      </td>
      <td>
        {{rsyslogs.InfoUnitID}}
      </td>
    </tr>

      <tr>
      <td>
        22
      </td>
      <td>
        SysLogTag
      </td>
      <td>
        {{rsyslogs.SysLogTag}}
      </td>
    </tr>



    <tbody>
    </tbody>
</table>
{%endblock%}
</body>
</html>