{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container">
  <h2>test</h2>
  <p>test</p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>번호</th>
        <th>ReceivedAt</th>
        <th>FromHost</th>
        <th>Message</th>
        <th>수정</th>
        <th>삭제</th>
      </tr>
    </thead>
    <tbody>
{% for data in rsyslogs %}
      <tr>
        <td><a href="{% url 'monitor:detail' data.id %}">{{data.id}}</a></td>
        <td>{{data.ReceivedAt}}</td>
        <td>{{data.FromHost}}</td>
        <td>{{data.Message}}</td>
        <td><a href="{% url 'monitor:detail' data.id %}">{{data.id}}</a></td>
        <td><a href="{% url 'monitor:detail' data.id %}">{{data.id}}</a></td>
      </tr>
{% endfor %}
    </tbody>
  </table>
  </div>
</div>
{%endblock%}
</body>
</html>